@import "style.css";

.blog{
    grid-area: bl;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 90vw;
}

@media (min-width: 600px) and (max-width:900px) {
    .blog{
        grid-area: bl;
        padding-bottom: 5px;
        padding-right: 5px;
        width: 60vw;
    }
}

@media (min-width: 901px) {
    .blog{
        grid-area: bl;
        padding-bottom: 5px;
        padding-right: 5px;
        width: 60vw;
    }
}

.pic{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.category{
    text-align: center;
}

.bio{
    grid-area: bio;
    color: whitesmoke;
}

.container_blog{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 150px 1fr 400px 40px;
    grid-template-areas: 
        "hd"
        "sb" 
        "bl"
        "bio"
        "ft";
    grid-gap: 5px;
}

@media (min-width: 600px) and (max-width:999px) {
    .container_blog{
        display: grid;
        
        grid-template-columns: 210px 3fr;
        grid-template-rows: 80px 1fr 2fr 30px;
        grid-template-areas: 
            "hd hd"
            "sb bl"
            "bio bl"
            "ft ft";
        grid-gap: 5px;
    }
}

@media (min-width: 1000px) {
    .container_blog{
        display: grid;
        
        grid-template-columns: 400px 4fr;
        grid-template-rows: 80px 1fr 2fr 30px;
        grid-template-areas: 
            "hd hd"
            "sb bl"
            "bio bl"
            "ft ft";
        grid-gap: 5px;
    }
}