@import "style.css";

.blog{
    grid-area: bl;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 90vw;
}
@media (min-width: 600px) and (max-width:900px) {
    .blog{
        grid-area: bl;
        padding-bottom: 5px;
        padding-right: 5px;
        width: 60vw;
    }
}

@media (min-width: 901px) {
    .blog{
        grid-area: bl;
        padding-bottom: 5px;
        padding-right: 5px;
        width: 60vw;
    }
}

.blogbox{
    border: solid 1px black;
    border-radius: 8px;
    /* background-color: blue; */
    
}

.pic{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.category{
    text-align: center;
}