@import "style.css";
@import "blog_pics.css";
@import "posts.css";

h4 {
    text-align: justify;
}

.blog {
    display: grid;
    grid-area: bl;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "post1 post2"
        "post3 post4";
    grid-gap: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

@media(max-width: 600px) {
    .blog {
        display: grid;
        grid-area: bl;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
            "post1"
            "post2"
            "post3"
            "post4";
        grid-gap: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
    }
}

#quote {
    text-align: left;
}

.blogbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 1px black;
    border-radius: 8px;
    padding-left: 5px;
}

.blog_title {
    text-align: center;
}

.pic {
    /* padding: 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 60%;
}

.author {
    background-image: url("../pictures/me.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    /* border: solid 1px white; */
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
  }

