a {
    color: whitesmoke;
}
a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #0058ff;
}

p {
    text-align: justify;
}

.home{
    grid-area: home;
    margin: 0px;
}

.chrisblog{
    grid-area: cb;
}

.logout{
    grid-area: lg;
    margin: 0px;
}

.header {
    grid-area: hd;
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 10px;
}

@media (max-width: 600px){
    .header {
        grid-area: hd;
        text-align: center;
        color: whitesmoke;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "home cb"
            "lg cb";
        grid-gap: 5px; 
        padding: 10px;
    }
}

.blog_link {
    color: whitesmoke;
}
.blog_link:link {
    color: whitesmoke;
    text-decoration: none;
}
.blog_link:hover {
    color: black;
    
}

.box{
    border: solid 1px black;
    border-radius: 8px;
    background-color: rgb(34,34,34);
}


.sidebar{
    grid-area: sb;
    color: whitesmoke;
    padding: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    grid-area: ft;
    flex-wrap: nowrap;
    color: whitesmoke;
    padding-left: 10px;
    /* padding-top: 5px; */
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 600px){
    .footer{
    display: flex;
    flex-direction: column;
    grid-area: ft;
    flex-wrap: nowrap;
    color: whitesmoke;
    padding: 0px 10px 0px 10px;
    justify-content: space-around;
    align-items: center;
    }
}
.post_button{
    background-color: #0058ff;
    border-radius: 8px;
    color: whitesmoke;
    width: 80px;
    height: 25px;
    margin-bottom: 5px;
}

/*All rights reserved arr*/
.arr{
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80x 1fr 600px 40px;
    grid-template-areas: 
        "hd"
        "bl"
        "sb"
        "ft";
    grid-gap: 5px;
}

@media (min-width: 600px) and (max-width:999px) {
    .container{
        display: grid;
        grid-template-columns: 280px 3fr;
        grid-template-rows: 80px 1fr 30px;
        grid-template-areas: 
            "hd hd"
            "sb bl"
            "ft ft";
        grid-gap: 5px;
    }
}

@media (min-width: 1000px) {
    .container{
        display: grid;
        grid-template-columns: 400px 4fr;
        grid-template-rows: 80px 1fr 30px;
        grid-template-areas: 
            "hd hd"
            "sb bl"
            "ft ft";
        grid-gap: 5px;
    }
}

